.contact-form {
  max-width: 600px;
  
  button.button {
    border: none !important;
    box-shadow: none !important;
  }
  .form-control {
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 12px;
    
    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
      border-color: $primary;
    }
  }
}

#contactError {
  display: none;
  &.visible {
    display: block;
  }
}

@include media-breakpoint-down(md) {
  .contact-form {
    padding: 0 15px;
    
    .form-control {
      width: 100%;
    }
  }
}